%ul.tab
  %li
    = link_to t('Subscriptions'), subscriptions_path, class: "red"
  %li
    = link_to t('Folders'), folders_path, class:"blue active"
  %li
    = link_to t('Import_Export'), import_feeds_path, class:"green"

%div
  %h2= t('import_feed')
  = form_tag(upload_feeds_path,:multipart => true) do
    = file_field_tag "opml"
    = submit_tag "import"
%div
  %h2= t('export_feed')
  = link_to t('export_feed'), export_feeds_path
%div
  %h2= t('bookmarklet')
= link_to "BookMarklet", "javascript:location.href='http://#{}/subscribe/'+location.href"
