%p#notice= notice

%p
  %b Title:
  = @feed.title
%p
  %b Url:
  = @feed.url
%p
  %b Xml url:
  = @feed.xml_url
%p
  %b Type:
  = @feed.type
%p
  %b Last checked at:
  = @feed.last_checked_at

= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', feeds_path
